body {
    background-image:url('img/projectsbg.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: center;
    top:0;
    left: 0;
    max-width: 100%;
    z-index: -10;
    zoom:1;
}
.aboutMe{
    color: #ffffff; 
    text-decoration: none;
}
.projects{
    color: #ffffff; 
    text-decoration: none;
}
.contact{
    color: #ffffff; 
    text-decoration: none;
}
.photograph{
    color:#C3A7FF;
}
.leftline{
    margin-left: 14vw;
    margin-top: 30vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;  
    width:31vw; 
    animation:frameAnimate 1.1s;
    animation-fill-mode:forwards;
}
.rightline{
    margin-left: 8vw;
    margin-top: 30vh;
    display:flex;
    flex-direction: column;
    width:31vw; 
    animation:righttextAnimate 1s;
        animation-fill-mode:forwards;
}
.photo{
    display:flex;
    width:50vw;
}

#back{
position:fixed;
display: flex;
font-family: 'Open Sans';
font-style: italic;
font-weight: 400;
font-size: 1vw;
line-height: 2vw;
letter-spacing: 1.5vw;
color:#FFFFFF;
    right:6vw;
    transform:rotate(-90deg);
    bottom:10vw;
}
#next{
    position:fixed;
display: flex;
font-family: 'Open Sans';
font-style: italic;
font-weight: 400;
font-size: 1vw;
line-height: 2vw;
letter-spacing: 1.5vw;
color:#FFFFFF;
    right:2vw;
    transform:rotate(90deg);
    bottom:4vw;
}
.alternativeMenu{
    display: flex;
    position: absolute;
    left:20vw;
    top:10vw;
    width: 1.2vw;
    height:auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 33px;
    color:#C3A7FF;
    /* identical to box height */
    letter-spacing: 5px;
    }
    #filmType{
        color:#FFFFFF;
    letter-spacing: 0.5vw;
    font-size: 1vw;
    }
@media(max-width:600px){
    .photo{
        position: relative;
        top:10px;
        flex-direction: column;
        width:30px;
    }
    .leftline{
        width: 230px;
        margin-top: 20vh;
  
    }
    .rightline{
        position: relative;
        width: 230px;
        margin-top: 0vh;
        left:6vw;
        
    }
#back{
    font-size: 7px;
    bottom: 100px;
}
#next{
    font-size: 7px;
    bottom: 50px;
}
.alternativeMenu{
    position: absolute;
    font-size: 10px;
    top:150px;
    left:100px;

}
#filmType{
    font-size: 10px ;
}
}