body {
    background-image:url('img/aboutmebg.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    top:0;
    left: 0;
    max-width: 100%;
    z-index: -10;
    zoom:1;
}
.aboutMe{
    color: #ffffff; 
    text-decoration: none;
}
.projects{
    color: #ffffff; 
    text-decoration: none;
}
.contact{
    color: #ffffff; 
    text-decoration: none;
}
.photograph{
    color:#C3A7FF;
}
.photolist{
    display: flex;
    flex-direction: column;
}
.photo1{
    position: absolute;
    left:10vw;
    top:22vw;
    width:60vw;
    display: flex;
    flex-direction: column;
}
.photo2{
    position: absolute;
    left:10vw;
    top:85vw;
}
.photo3{
    position: absolute;
    left:10vw;
    top:155vw;
}
.photo4{
    position: absolute;
    left:10vw;
    top:200vw;
}
.oneline{
    margin-top: 1vw;
    width:60vw;
    display: flex;
    justify-content: space-between;
}
.twoline{
    width:60vw;
    display: flex;
    justify-content: space-between;
}
.photos{
    width:20vw;
    padding: 3vw;
}
.phototext{
    color: #ffffff;
    text-align: right;
    font-family: 'Open Sans';
    letter-spacing: 0.25vw;
    font-size: 0.8vw;
    line-height: 2vw;
    width:30vw;
    position: relative;
    left:45vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


#back{
position:fixed;
display: flex;
font-family: 'Open Sans';
font-style: italic;
font-weight: 400;
font-size: 0.8vw;
line-height: 2vw;
letter-spacing: 1vw;
color:#FFFFFF;
    right:4vw;
    transform:rotate(-90deg);
    bottom:10vw;
}
#next{
    position:fixed;
display: flex;
font-family: 'Open Sans';
font-style: italic;
font-weight: 400;
font-size: 0.8vw;
line-height: 2vw;
letter-spacing: 1vw;
color:#FFFFFF;
    right:0vw;
    transform:rotate(90deg);
    bottom:4vw;
}

@media(max-width:600px){
   .photolist{
    position: relative;
    margin-top: 100px;
   }
   .photo2{
    position: relative;
    left:10vw;
    top:95vw;
}
   .photo3{
    position: relative;
    left:10vw;
    top:115vw;
}
.photo4{
    position: relative;
    left:10vw;
    top:135vw;
}
  

}