body {
    background-image:url('img/projectsbg.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    top:0;
    left: 0;
    max-width: 100%;
    z-index: -10;
    zoom:1;
}
.aboutMe{
    color: #FFFFFF;
  text-decoration: none;
     
}
.projects{
    color:#C3A7FF;
}
.photograph{
    color: #ffffff; 
    text-decoration: none;
}
.rightmenu{
    
    font-family: 'Raleway';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 0.8vw;
    line-height: 2vw;
    letter-spacing: 6px;
    color: #ffffff; 
    display: flex;
    position: fixed;
    width: 70vh;
    transform: rotate(90deg);
    /* flex-direction: row; */
    right: -15vw;
    padding-top: 3vw;
    top:34vw;
    justify-content: space-between;
  }
.projectsList{
    color: #FFFFFF;
    margin-top: 20vh;
    margin-left: 12vw;
 
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
article {
    margin: 20px;
    position:relative;
    height:20vw;
    margin-bottom: 4vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
    width:70vw;
    animation:rightAnimate 0.7s;
    animation-fill-mode:forwards;    
  } 

.projectpic{
    align-self: center;
    position: absolute;

    width:23vw;
    height:auto;
    left:3vw;
    top:3vw;
    animation:portraitAnimate 1s;
    animation-fill-mode:forwards;  
}

.decorationWordleft{
position: absolute;
color: #ffffff;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 0.8vw;
line-height: 16px;
text-align: right;
letter-spacing: 15.15px;
position: absolute;
bottom:4vw;
animation:portraitAnimate 1.7s;
animation-fill-mode:forwards; 
}
.decorationWordright{
    position: absolute;
    color: #ffffff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8vw;
    line-height: 16px;
    text-align: left;
    letter-spacing: 15.15px;
    top:4vw;
    left:14vw;
    animation:rightAnimate 1.3s;
    animation-fill-mode:forwards; 
    }
#purplearrow{
    font-size: 2.5vw;
    color:#C3A7FF;
    text-decoration: none;
}

.projectDescription{
position:absolute;
text-align: justify;
font-family: 'Open Sans';
font-style: normal;
letter-spacing: 0.25vw;
font-size: 0.9vw;
left:34vw;
width:35vw;
right:20vw;
top: 10vh;
line-height: 2vw;
animation:rightAnimate 1s;
animation-fill-mode:forwards;
color: #ffffff;
}
.projectTitle{
color: #ffffff;
animation:rightAnimate 1.2s;
animation-fill-mode:forwards;
position:absolute;
text-align: right;
right:1vw;
top:2vw;
font-family: 'Cinzel';
font-style: normal;
font-weight: 400;
font-size: 1.8vw;
line-height: 43px;
letter-spacing: 12.65px;
  }

  @media(max-width:600px){
    .rightmenu{
        display: none;
    }
    .decorationWordleft{
        font-size: 10px;
        letter-spacing: 5px;
        top:120px;
    }
    .decorationWordright{
        left:200px;
        top:100px;
        font-size: 10px;
        letter-spacing: 5px;
    }
   .project{
    height:200px;
   }
   .projectDescription{
    display: none;
   }
   .projectTitle{
    font-size: 15px;
    letter-spacing: 7px;
   }

   .projectpic{
    width:50vw;
    height: auto;
    top:20px;
   }
   #purplearrow{
    font-size: 20px;
   }

 
    }   
